<!-- Here, user will be show a progress bar of creating a zip file and after completion automatically redirected -->
{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    #progress-container {
        width: 100%;
        background-color: #ccc;
        overflow: hidden;
    }

    #progress-bar {
        width: 0;
        height: 30px;
        background-color: #007bff;
        transition: width 0.3s;
    }
</style>
<div id="status" class="mb-2">
    Generating Zip File for {{playlist}}...
</div>

<div id="progress-container">
    <div id="progress-bar"></div>
</div>
<script>
    function checkStatus() {
        $.getJSON('/check_download_status/', function(data) {
            console.log(data);
            if (data.completed) {
                window.location.href = '/completed/';
            }
        });
    }

    // Check the status every 2 seconds (adjust as needed)
    // setInterval(checkStatus, 2000);
    // Progress Bar
    function updateProgressBar() {
        // Make an AJAX request to the backend to get progress information
        // Replace this with your actual backend endpoint
        fetch('/check-songs-downloaded')
            .then(response => response.json())
            .then(data => {
                const progressBar = document.getElementById('progress-bar');
                progressBar.style.width = data.progress + '%';

                const completed = data.completed
                const last_song = data.last_song
                const statements = ["Generating Zip File for {{playlist}}...", "Fetching mp3 links, please wait...", "Almost there.."]
                document.getElementById("status").innerText = statements[Math.floor(Math.random() * statements.length)]
                if(completed){
                    document.getElementById("status").innerText = `Downloding ${last_song} (Added ${completed} songs of {{total_songs}})`
                }
                
                if(completed == '{{total_songs}}'){
                    setTimeout(() => {window.location.href = '/completed/'},5000)
                }
        });
    }

    // Poll the backend for progress updates every second
    setInterval(updateProgressBar, 2500)

    function check_processing_error() {
        fetch('/check-mp3-files')
        .then(res => res.json())
        .then(data => {
            console.log(data);
            if (data.completed) {window.location.href = '/completed/'}
        })
    }

    setInterval(check_processing_error,15000)
    
</script>
{% endblock %}